.MemoryCard {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border: 3px solid navy;
    background: linear-gradient(
        to bottom,
        #5d9634,
        #5d9634 50%,
        #538c2b 50%,
        #538c2b
    );
    background-size: 100% 20px;
    cursor: pointer;
}

.cardImage {
    width: 60px;
    padding-top: 27px;
}