.title_ms {
    background-color:#6B2A18;
    width: 100%;
    padding: 10px;
    font-size: 20em;
    text-align: center;
    color: #ECE1D2;
}

.address_ms {
    background-color:#6B2A18;
    width: 100%;
    padding: 10px;
    font-size: 8em;
    text-align: center;
    color: #ECE1D2;
}

.navbar {
    background-color:#BE9B7B;
    padding: 0px;
    font-size: 6em;
    text-align: center;
    color: white;
}

.carouselExampleFade {
    background-color:#6B2A18;
    padding: 10px;
    height: 200px;
    font-size: 8em;
    text-align: center;
    color: #ECE1D2;
}